/* General */
html, body, p, ul, li, table, h1, h2, h3, h4, h5, h6 {
    margin : 0;
    padding : 0;
}
body {
    padding-top : 50px;
    background-color: #DDDDDD;
    color: #222222;
}
body, input, textarea {
    font-family: Helvetica, Arial, Tahoma, Verdana, sans-serif;
    font-size : 12px;
}

/* Inputs */
input[type=button], input[type=submit] {
    cursor : pointer;
}

textarea {
    width : 98%;
    resize : none;
}

/* Titles */
h1 {
    font-size : 20px;
    text-align : center;
    margin-bottom: 10px;
    border-bottom: 1px solid #333333;
}
h2 {
    margin-bottom: 10px;
}

/* Links */
a, a:visited {
    color : black;
    text-decoration : none;
    font-weight : bold;
}
a:active, a:hover {
    color : black;
    text-decoration : underline;
    font-weight : bold;
}
a img {
    border : 0 none;
}

/* Miscellaneous */
.center {
    text-align : center;
}
.left {
    float : left;
}
.right {
    float : right;
}
.clear {
    clear : both;
}
p {
    margin-bottom : 10px;
}

/* Div */
header {
    background-color: #222222;
    border-bottom: 1px solid #333333;
    box-shadow: 0 1px #000000, 0 2px 1px rgba(0, 0, 0, 0.4);
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width : 100%;
    z-index : 999999;
}
.header_wrap {
    max-width : 960px;
    margin : 0 auto;
    height : 100%;
}
a.button, a.button:visited, .button {
    background-color: #444444;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin : 0px 10px;
    padding: 5px 10px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    text-decoration : none;
}
a.button:hover, a.button:active, .button:hover {
    background-color: #555555;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px #111111;
    color: #FFFFFF;
}
a.button img {
    vertical-align : middle;
}
header a.button {
    display : block;
    margin-top : 13px;
}
nav {
    float : right;
}
nav ul {
    float : right;
    list-style-type: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
}

nav ul li {
    border-left: 1px solid #333333;
    border-right: 1px solid #000000;
    float: left;
    height: 50px;
}
section {
    max-width : 940px;
    margin : 0 auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    padding : 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px #111111;
}
footer {
    margin : 10px auto 0px;
    max-width: 960px;
    padding-top : 10px;
}
footer p {
    text-align : center;
}
form {
    text-align : center;
}
form table {
    margin : 0 auto 10px;
}
table.loading {
    width : 100%;
    height : 100%;
}

#username {
    color: white;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}

.info {
    padding : 5px;
    border-radius: 5px;
    margin : 0px 2px;
}

#username a {
    color : white;
}

.button#submit, .button#password, .button#back {
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left : 30px;
    margin-right : 10px;
}

.button#submit {
    background-image : url("../img/icon_accept.png");
}

.button#password {
    background-image : url("../img/icon_key.png");   
}

.button#back {
    background-image : url("../img/icon_back.png");   
}

table.cells {
    border-collapse : collapse;
    margin-bottom: 10px;
}

table.cells tr td {
    padding : 5px;
    border : 1px solid #333333;
}

table.cells tr th {
    padding : 5px;
    font-weight: bold;
    text-align : center;
}

table.cells tr th img {
    vertical-align: bottom;
}

table.cells tr td.icon {
    width : 16px;
    border : none;
}

table.cells tr th#place {
    width : 200px;
}

table tr td.label {
    text-align : right;
}